[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper.git
[submodule "themes/memex"]
	path = themes/memex
	url = https://github.com/reuixiy/hugo-theme-meme.git
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
